{% extends "base.html" %}
{% block content %}

<div style="float:right;"><a href="/">Home</a></div>
<form action="/add" method="post" onSubmit="return checkForm();">
<div>Write one blog :</div>
			<div>Title:<br>

			    <input type="text" id="title" name="title" width="300px" size="50">
			    <br>
			    Tags:<br>
                <input type="text" name="tags" size="60" maxlength="100">
		    </div>
			<div>Content:<br>
			<textarea name="content" cols="50" rows="10"></textarea>
			<!--textarea name="content" style="display:none"></textarea>
			<iframe ID="Editor" name="Editor" src="/HtmlEditor/index.html?ID=content" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No" style="height:320px;width:100%"></iframe-->
			</div>
			<div><br>
<input type="submit" value="Save">
			</div>	
			</form>

{% endblock %}
