{% extends "base.html" %}
{% block content %}

<div style="float:right;"><a href="{{url}}">{{url_linktext}}</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/add" title="Write one blog">Write</a></div>
    <table width="100%" cellspacing="0">
	{% for greeting in greetings %}	
        <tr bgcolor="#EEFFEE">
          <td valign="top" width="80%">
            <a href='/blog/{{greeting.key}}'>{{greeting.title}}</a></td>
          <td align="right">&nbsp;</td>
        </tr>
        <tr><td colspan="2">{{ greeting.content }}</td></tr>
        <tr>
          <td colspan="2" align="right">{{greeting.author.nickname}}@{{greeting.date|date:"Y-m-d H:i:s"}}</td>
        </tr>		
		 {% endfor %}
</table>
     <div class="fdiv">
		<div style="color:#777;float:left;"></div>		
	</div>
<div style="text-align:center">
{{pagestr}}
</div>

{% endblock %}
