{% extends "base.html" %}
{% block content %}

<div style="float:right;"><a href="/">Home</a></div>
     <div class="fdiv">
		<div style="color:#777;float:left;"></div>		
	</div>
     <form action="/update" method="post">
	 <div>Edit one blog :</div>
			<input type="hidden" name="key" value="{{ greeting.key }}" />
			<input type="hidden" name="date" value="{{ greeting.date }}" />
			<div>Title:<br>
			<input type="text" id="title" name="title" width="300px" size="50" value="{{ greeting.title }}">			
			</div>
			<div>
			Tags:<br>
                <input type="text" name="tags" size="60" maxlength="100" value="{% for tag in greeting.tags%}{{tag}} {% endfor%}">	
			</div>
			<div>Content:<br>

			<textarea name="content"  cols="50" rows="10">{{ greeting.content }}</textarea> <!--iframe
				ID="Editor" name="Editor" src="/editor/index.htm?ID=content"
				frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No"
				style="height:320px;width:80%"></iframe-->
			</div>
			<div><input type="submit" value="Update..."></div>	
</form>

{% endblock %}
