{% extends "base.html" %}
{% block content %}

	<div class="replyDiv">
	{% for reply in replys %}	
	<div class="oneReply">
    	<div class="reponse">Response from : 
        {{reply.author.nickname}}
        {% ifequal reply.author null%}
        anonymous
        {% endifequal%}
        {% ifnotequal reply.author null%}
        anonymous
        {% endifnotequal%}
        </div>
        <div class="replyContent">{{reply.content}}</div>
    </div>
	{% endfor %}
	</div>
    <div class="addReply">
    <form action="/reply/add" method="post">
    	<input type="hidden" name="upid" value="{{upid}}">
    	Homepage:<br>
   	    <input type="text" name="url" size="30" maxlength="50">
      <br>
Content:<br>
<textarea name="content" rows="6" cols="45"></textarea>
<br>

<input type="submit" value="Submit">
</form>
    </div>

{% endblock %}
